# airflow server
DB_HOST=
DB_PORT=5432
DB_USER=game_cs_user
DB_PASSWORD=
DB_NAME=game_cs
DB_CONNECT_TIMEOUT=15

LLM_API_KEY=
LLM_MODEL=gpt-4o

CS_AUTO_AIRFLOW_PORT=18080
CS_AUTO_ROUTING_MODEL=
LLM_TIMEOUT_SECONDS=60
OPERATION_LANGSMITH_TRACING=
OPERATION_LANGSMITH_API_KEY=
OPERATION_LANGSMITH_PROJECT=
